/*Mixins and Variables*/
/* line 35, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.btn-red {
  background-color: #f00;
  color: #fff; }
  /* line 39, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .btn-red:hover {
    color: #fff;
    background: #c00; }

/* line 45, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.textLink {
  color: #f00;
  text-decoration: underline; }
  /* line 49, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .textLink:hover {
    color: #900; }

/* line 54, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
nav {
  border-bottom: 4px solid #f00 !important; }
  /* line 57, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  nav .navbar-brand {
    padding: 0; }
    /* line 60, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
    nav .navbar-brand img {
      height: 50px;
      width: auto; }
  /* line 68, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  nav .nav-pills li {
    background: #fff; }
    /* line 73, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
    nav .nav-pills li.active a {
      background-color: #fff;
      color: #f00; }
      /* line 77, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
      nav .nav-pills li.active a:hover, nav .nav-pills li.active a:focus, nav .nav-pills li.active a:active {
        background: #f00;
        color: #fff; }
    /* line 84, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
    nav .nav-pills li a {
      color: #f00;
      font-size: 1.5em;
      border-radius: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px; }
      /* line 91, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
      nav .nav-pills li a:hover, nav .nav-pills li a:focus, nav .nav-pills li a:active {
        background: #f00;
        color: #fff; }
  /* line 99, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  nav .authenticationIndicator {
    float: right; }

/* line 106, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.open > a:hover, .open > a:active, .open > a:focus {
  background: #f00 !important; }

/* line 113, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
#indexPage h1 {
  text-align: center;
  color: #f00; }
/* line 120, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
#indexPage .callToAction .buttons {
  border-radius: 10px;
  color: #f00;
  border: 4px solid #f00;
  padding: 2%; }
  /* line 19, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  #indexPage .callToAction .buttons:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  /* line 124, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  #indexPage .callToAction .buttons .btn {
    margin-top: 10px; }
  /* line 128, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  #indexPage .callToAction .buttons #left {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 4px solid #f00; }
  /* line 135, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  #indexPage .callToAction .buttons #right {
    float: right;
    width: 50%;
    text-align: center; }

/* line 147, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.user-login form {
  border-radius: 10px;
  color: #f00;
  border: 4px solid #f00;
  padding: 2%; }
  /* line 150, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .user-login form label {
    display: block; }
  /* line 154, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .user-login form input {
    width: 100%; }
  /* line 158, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .user-login form button {
    display: block;
    margin-top: 10px; }
  /* line 163, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .user-login form span {
    float: right;
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    font-size: 1.25em; }
/* line 170, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.user-login img {
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px); }

/* line 175, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.user-form {
  border-radius: 10px;
  color: #f00;
  border: 4px solid #f00;
  padding: 2%; }

/* line 181, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.user-create img {
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px); }

/* line 186, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.contact-form {
  border-radius: 10px;
  color: #f00;
  border: 4px solid #f00;
  padding: 2%; }

/* line 191, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.conversionImg {
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  height: 250px;
  width: auto; }

/* line 198, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.conversionForm {
  border-radius: 10px;
  color: #f00;
  border: 4px solid #f00;
  padding: 2%;
  min-height: 200px;
  text-align: left;
  font-size: 1.5em; }
  /* line 204, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .conversionForm span {
    line-height: 2em; }
  /* line 208, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .conversionForm button {
    margin-top: 20px; }

/* line 213, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
.scale {
  border-radius: 10px;
  color: #f00;
  border: 4px solid #f00;
  padding: 2%; }
  /* line 216, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .scale h3:first-of-type {
    margin-top: 0; }
  /* line 220, /Applications/MAMP/htdocs/ASL/nurse911/web/css/site.scss */
  .scale label {
    display: block; }

/*# sourceMappingURL=site.css.map */
