/*Mixins and Variables*/
@mixin translateX($distance) {
    -ms-transform:translateX($distance);
    -o-transform:translateX($distance);
    -moz-transform:translateX($distance);
    -webkit-transform:translateX($distance);
    transform:translateX($distance);
}

@mixin translateY($distance) {
    -ms-transform:translateY($distance);
    -o-transform:translateY($distance);
    -moz-transform:translateY($distance);
    -webkit-transform:translateY($distance);
    transform:translateY($distance);
}

@mixin clearfix() {
    &:after {
        content: ".";
        visibility:hidden;
        display:block;
        height:0;
        clear:both;
    }
}

@mixin formStyles() {
    border-radius:10px;
    color:#f00;
    border:4px solid #f00;
    padding:2%;
}

.btn-red {
    background-color:#f00;
    color:#fff;

    &:hover {
        color:#fff;
        background:#c00;
    }
}

.textLink {
    color:#f00;
    text-decoration:underline;

    &:hover {
        color:#900;
    }
}

nav {
    border-bottom:4px solid #f00 !important;

    .navbar-brand {
        padding:0;

        img {
            height:50px;
            width:auto;
        }
    }

    .nav-pills {

        li {
            background:#fff;

            &.active {

                a {
                    background-color:#fff;
                    color:#f00;

                    &:hover, &:focus, &:active {
                        background:#f00;
                        color:#fff;
                    }
                }
            }

            a {
                color:#f00;
                font-size:1.5em;
                border-radius:0;
                border-top-right-radius:10px;
                border-top-left-radius:10px;

                &:hover, &:focus, &:active {
                    background:#f00;
                    color:#fff;
                }
            }
        }
    }

    .authenticationIndicator {
        float:right;

    }
}

.open {
    > a:hover, > a:active, > a:focus {
        background:#f00 !important;
    }
}

#indexPage {

    h1 {
        text-align:center;
        color:#f00;
    }

    .callToAction {

        .buttons{
            @include formStyles();
            @include clearfix();

            .btn {
                margin-top:10px;
            }

            #left {
                float:left;
                width:50%;
                text-align:center;
                border-right:4px solid #f00;
            }

            #right {
                float:right;
                width:50%;
                text-align:center;
            }

        }
    }
}

.user-login {

    form{
        @include formStyles();

        label {
            display:block;
        }

        input {
            width:100%;
        }

        button {
            display:block;
            margin-top:10px;
        }

        span {
            float:right;
            @include translateY(-25px);
            font-size:1.25em;
        }
    }

    img {
        @include translateY(-50px);
    }
}

.user-form {
    @include formStyles();
}

.user-create {

    img {
        @include translateY(-50px);
    }
}

.contact-form {
    @include formStyles();
}


.conversionImg {
    @include translateY(-50px);
    height:250px;
    width:auto;

}

.conversionForm {
    @include formStyles();
    min-height:200px;
    text-align:left;
    font-size:1.5em;

    span {
        line-height:2em;
    }

    button {
        margin-top:20px;
    }
}

.scale {
    @include formStyles();

    h3:first-of-type {
        margin-top:0;
    }

    label {
        display:block;
    }
}
